html,body{
    margin:0;
    padding:0;
}

nav{
    height: 50%;
    width: 80%;
    background-color: grey;
    padding-right: 50%;
    margin-right:30%;
    padding-bottom: 5%;
}

header{
    width:80%;
    height: 40vh;
    background-color: lightgrey;
    padding-left: 10%;
    padding-top:20%;
    padding-right: 10%;

}

section{
    width:80%;
    background-color: white;
    margin-top: 20px;
    padding-left: 10%;
    padding-top:25px;
    padding-right: 10%;
    padding-bottom:25px;

}

footer{
    width:100%;
    height:100px;
    color:white;
    padding-top:25px;
    background-color: black;
    text-align: center;

}

.full{
    height:170px;
}

.col-1{
    width: 100%;
    height:80px;
    background-color: grey;
    text-align: center;
    color: white;
    padding-top:20px;

}

.third{
    height:320px;
}

.col-2{
    width: 31.33%;
    height:300px;
    background-color: grey;
    float:left;
    text-align: center;
    color: white;
    margin:1%;

}

.quarter{
    height:320px;
}

.col-3{
    width: 23%;
    height:300px;
    background-color: grey;
    float:left;
    text-align: center;
    color: white;
    margin:1%;
}

.half{
    height:370px;
}

.col-4{
    width: 48%;
    height:300px;
    background-color: grey;
    float:left;
    text-align: center;
    color: white;
    margin:1%;
}

.logo{
    width:200px;
    float:left;
}

.nav-con{
    width: 550px;
    height:50px;
    float:right;
    magin-top: 5px;
}

.nav-con ul{
    list-style:none;
}

.nav-con li{
    float:left;
    height:26px;
    background-color: white;
    text-align: center;
    border-radius:5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5px;
    margin-left: 10px;
    padding-top: 10px;
    
}

.nav-con li:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}

.active{
    background-color: black;
    color: black;
}